.main{
    padding: 20px;
    font-family: Arial;
    box-shadow: 5px  5px 7px 5px #8888;
    
}
body {
    
    background-size: cover; 
    background-image: url("yo.jpg");
    
    background-position: center;
    margin: 0;
    padding: 0;
}
.container {
    text-align: center;
    text-decoration: underline;
    text-decoration-color:#914691;
    color: white;
    background-image: url("hi.gif");
    background-repeat: no-repeat;
    background-size: cover; 
    margin-top: 50px; /* Adjust as needed */
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}


.row {
    margin-bottom: 20px;
}

.col-mod-6 {
    margin: 0 auto;
    max-width: 400px; /* Adjust based on your design */
}
.main h1{
    font-size: 36px;
    text-align: center;
    font-family: Arial;
   
}
.main h2{
    font-size: 36px;
    text-align: center;
    font-family: Arial;
   
}input{
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    font-size: 20px;
    padding: 12px 20px;
    margin: 8px;
    border: none;
    border-bottom: 2px solid #3245a3;
    color: #333333;
}

input[type=submit]{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    font-size: 22px; 
    background-color: #914691;
    border:none;
    color: #333333;
    padding: 16px 32px;
    margin: 4px 2px;
    border-radius: 10px;

}

input[type=submit]:hover {
    background-color:#3245a3;
}

.gender-options {
    display: inline-block;
    gap: 10px; /* Optional: Adds space between options */
    align-items: center; 
}

.gender-options input[type="radio"] {
      display: inline-block;
    margin-right: 5px;
}
