
body {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    background-image: url("pip.gif");
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    margin-top: 200px;
    background-size: cover; /* Ensure the background image covers the container */
    background-position: center; /* Center the background image */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.main {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Background color for the main content */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 36px;
    text-align: center;
    color: #333333;
}